

.products{
  margin-bottom: 150px;
  .products__add-btn{
    margin-bottom: 50px;
    margin-left: 47%;

    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #00ff04;
    cursor: pointer;
  }

  .products__list {
    display: grid;
    row-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;

  }
}